<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>

  <appSettings>
    <add key="webservice" value="http://110.90.112.61:8082/FZWSForCustomer/ADReportWebService.asmx" />
    <add key="logid" value="8A0302"/>
    <add key="password" value="8A0302"/>
    <add key="key" value=""/>
    <!--<add key="connstr_access" value="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=E:\\data2\\CRMdata.accdb;Jet OLEDB:Database Password=123456" />-->
  </appSettings>
</configuration>